<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;"
       width="100%;">
    <tbody>
    <tr>
        <td class="pc-sm-p-30-20-25 pc-xs-p-25-10-20"
            style="vertical-align: top; padding: 40px 30px 35px; border-radius: 8px; box-shadow: 0 2px 4px 0 #dadada;"
            bgcolor="#ffffff" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                   style="width: 100%;" width="100%">
                <tbody>

                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;width:100%; text-align:center;">
                        Dear: {{contextData.To}}
                    </td>
                </tr>
                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;width:100%; text-align:center;">
                        You have received an email message from your website.<br /><br/>
                    <td>
                    
                </tr>

                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        <hr style="border-color:#fff;"><br />
                        From: {{contextData.From}}
                    </td>
                </tr>


                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        Email: {{contextData.Email}}
                    </td>
                </tr>

                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        Subject: {{contextData.Subject}}
                        <br /><br /><hr style="border-color:#fff;"><br />
                    </td>
                    
                </tr>
                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        Message Details: <br /><br /> {{{contextData.Message}}}<br /><br />
                    </td>
                </tr>
                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        Kind Regards
                    </td>
                </tr>
                <tr>
                    <td class="pc-sm-fs-18 pc-xs-fs-16 pc-fb-font email"
                        style="font-family: 'Fira Sans', Helvetica, Arial, sans-serif; font-size: 18px; line-height: 1.5; letter-spacing: -0.2px; color: black; padding: 0 10px; vertical-align: top;">
                        VMG Software<br />
                        <img width="100" src="http://vmgsoftware.co.za/img/logo1.png">
                    </td>
                </tr>

                </tbody>
                <tbody>
                <tr>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

